
.balance, .earnings {
    background: #fff;
    padding: 22px 24px 24px;
    width: 318px;
    margin-right: 24px;
    margin-bottom: 24px;
    box-shadow: 0 16px 32px 0 rgba(144,164,183,0.20);
    border-radius: 2px;
}
.title-balance {
    text-align: center;
    margin-bottom: 74px;
}

.balance__chart {
    text-align: center;
    margin-bottom: 24px;
}

.dashboard__head {
    font: 400 13px 'Roboto';
    color: #8a96a0;
    text-transform: uppercase;
}

.dashboard__desc {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 24px;
}

.dashboard__text {
    font: 500 14px 'Roboto';
    color: #6af3d8;
}

.dashboard__text-binance {
    font-size: 20px; 
    line-height: 28px;
}
.wallet {
    color: #fff;
    padding: 14px 0 14px 0;
    display: inline-block;
    line-height: 24px;
    width: 100%;
}

.portfolio, .traders {
    background: #fff;
    width: 1002px;
    padding: 22px 24px 24px;
    box-shadow: 0 16px 32px 0 rgba(144,164,183,0.20);
    border-radius: 2px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.portfolio__top {
    display: flex;

}
.portfolio__title {
    margin-right: auto;
}
.portfolio__list {
    display: flex;

}
.portfolio__link {
    margin-right: 40px;
    color: #8a96a0;
}
.portfolio__link-active {
    font: 700 14px 'Roboto';
    color: #52c2f4;
    padding-bottom: 8px;
    border-bottom: 2px solid #52c2f4;
}

.bitrex, .binance, .kraken {
    width: 432px;
    background: #fff;
    padding: 22px 24px 24px;
    box-shadow: 0 16px 32px 0 rgba(144,164,183,0.20);
    border-radius: 2px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.dashboard__center-text {
    font: 500 20px 'Roboto';
    color: #6af3d8;
    line-height: 28px;
}
.dashboard__panel {
    font: 400 14px 'Roboto';
    color: #8a96a0;
    line-height: 24px;
    margin-bottom: 9px;
}
.earnings__top {
    text-align: center;
    margin-bottom: 24px;
}

.earnings__top-count {
    font: 400 40px 'Roboto';
    line-height: 40px;
    text-align: center;
    color: #1a173b;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.earnings__center {
    display: flex;
    justify-content: space-around;
    font: 400 13px 'Roboto';
    color: #bbc6d0;
    margin-bottom: 202px;
}
.dashboard__head-earnings {
    text-transform: none;
}

.traders__title {
    margin-bottom: 30px;
}
.table__head {
    display: flex;
    font: 400 13px 'Roboto';
    color: #bbc6d0;
    line-height: 24px;
}

.head__allocated {
    margin-left: 243px;
    margin-right: 16px;
    width: 90px;
}

.head__return {
    margin-right: 78px;
}
.table__body {
    display: flex;
    height: 64px;
    border-bottom: 1px solid #e7eaec;

    &:last-child {
        border-bottom: none;
    }
}

.table__avatar {
    padding: 12px 16px 12px 0;
}

.table__avatar-user {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;

    img {
        max-height: 100%;
        max-width: 100%;
    }
}

.table__name {
    width: 187px;
    text-align: left;
    padding: 20px 0 20px;
}

.table__allocated {
    width: 106px;
    text-align: left;
    padding: 20px 0 20px;
}

.table__return {
    font: 500 14px 'Roboto';
    line-height: 24px;
    color: #6af3d8;
    text-align: left;
    padding: 20px 0 20px;
    width: 133px;
}

.table__strategy {
    width: 168px;
    text-align: left;
    padding: 20px 0 20px;
}

.table__chart {
    width: 190px;
    padding: 17px 0 16px;
}

.table__btn {
    width: 114px;
    padding: 16px 0;
}

.button__table {
    display: flex;
}
.btn__icon {
    width: 20px;
    height:20px;
    padding: 6px;

}

.fa-2x {
    opacity: 0.6;
    padding-right: 22px;
}
.button__follow {
    color: #fff;
    padding: 4px 24px 4px 0px;
    display: inline-block;
}

